* ::selection{
    background-color: aquamarine;
    color: black;
}
body{
    height: 100%;
    width: 100%;
    background-color: rgba(144, 230, 16, 0.832);
}
.nav_expand-lg{
    height: 10vh;
    width: 100vw;
    background-color: aquamarine;
    color: black;
}
.main-container{
    height: 90vh;
    width: 100vw;
    background-color: rgba(80, 41, 117, 0.849);
}
#top-btn{
    background-color: rgba(17, 17, 162, 0.758);
    border-color: rgba(17, 17, 162, 0.758);
    padding: 12px 24px;
    
}
#top-btn:hover{
    background-color: rgba(17, 17, 162, 1);
    border-color: rgba(17, 17, 162, 1);
    transform: scale(1.05);
}
.nav-container{
    height: 100%;
    width: 100%;
    background-color: bisque !important;
}
.navbar .container-fluid .home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    cursor: pointer;
}
.offcanvas .offcanvas-header{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    padding: 1;
    color:antiquewhite;
    
}
.offcanvas .canvas-body{
    display: flex;
    justify-content: center;
    align-items: center;
}
    


