body{
    height: 100%;
    width: 100%;
    background-color: aqua;

}
.main-container{
    height: 90vh;
    width: 100%;
    background-color: brown;
}
.nav_expand-lg{
    height: 10vh;
    width: 100%;
    background-color: blue;
    color: black;
    padding: 0;
}
#top-btn{
    background-color: aqua;
    color: black;
}
#top-btn:hover{
    cursor: pointer;
    background-color: rgb(3, 42, 42);
}
.navbar-container{
    height: 100%;
    width: 100%;
}
 .home{
    cursor: pointer;
}

